<div class='addBeer'>

  {{#if this.added}}
    <div class='addBeer_message'>
      {{this.added}}
    </div>
  {{/if}}
  
  <form action='/add-beer' method='post'>
    <h1>Add New Beer</h1>
    <label for='name'>Name:</label>
    <input type='text' name='name' id='name' required />
    <label for='tagline'>Tag Line:</label>
    <input type='text' name='tagline' id='tagline' required />
    <label for='description'>Description:</label>
    <input type='text' name='description' id='description' required />
    <label for='first_brewed'>First Brewed:</label>
    <input type='date' name='first_brewed' id='first_brewed' required />
    <label for='brewers_tips'>Brewers Tip:</label>
    <input type='text' name='brewers_tips' id='brewers_tips' required />
    <label for='attenuation_level'>Attenuation Level:</label>
    <input
      type='number'
      step='.1'
      name='attenuation_level'
      id='attenuation_level'
    />
    <label for='contributed_by'>Contributed By:</label>
    <input type='text' name='contributed_by' id='contributed_by' />
    <button type='submit'>Create New Beer</button>
  </form>
</div>