<div class='addBeer'>
  <form action='/addbeer' method='post'>
    <h1>Add New Beer</h1>
    <label for='beer_name'>Name:</label>
    <input type='text' name='beer_name' id='beer_name' required />
    <label for='beer_description'>Description:</label>
    <input type='text' name='beer_description' id='beer_description' required />
    <label for='beer_price'>Brewers Tip:</label>
    <input type='text' name='beer_brewersTip' id='beer_brewersTip' required />
    <label for='beer_price'>Tag Line:</label>
    <input type='text' name='beer_tagLine' id='beer_tagLine' required />
    <label for='beer_price'>Image URL:</label>
    <input type='text' name='beer_tagLine' id='beer_tagLine' value="https://" />
    <button type='submit'>Create New Beer</button>
  </form>
</div>