<div class='addBeer'>
  <form action='/addbeer' method='post'>
    <h1>Add New Beer</h1>
    <label for='beer_name'>Name:</label>
    <input type='text' name='beer_name' id='beer_name' required />
    <label for='beer_tagLine'>Tag Line:</label>
    <input type='text' name='beer_tagLine' id='beer_tagLine' required />
    <label for='beer_description'>Description:</label>
    <input type='text' name='beer_description' id='beer_description' required />
    <label for='beer_brewersTip'>Brewers Tip:</label>
    <input type='text' name='beer_brewersTip' id='beer_brewersTip' required />
    <label for='beer_attenuationLevel'>Attenuation Level:</label>
    <input
      type='number'
      name='beer_attenuationLevel'
      id='beer_attenuationLevel'
    />
    <label for='beer_contributedBy'>Contributed By:</label>
    <input type='text' name='beer_contributedBy' id='beer_contributedBy' />
    <button type='submit'>Create New Beer</button>
  </form>
</div>